
body {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Courier New, Courier, monospace;
    padding-top: 100px;
}
.main {
    font-family: Courier New, Courier, monospace;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;

}
.main > div {
    padding-top: 100px;
}
.navbar {
    font-family: Courier New, Courier, monospace;
    margin-top: 0;
    box-shadow: 0 0 20px 1px #adff2f ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(10px);

}
#name-title {
    color: #000000;
    text-shadow: 2px 2px 40px 3px #adff2f;
    font-weight: bold;
    font-size: xx-large;
}
#name-title:hover {
    color: #D2D2D5;
    text-shadow: -6px 7px  4px 2px #0e1718;
    font-weight: bold;
    font-size: xx-large;
}
.navbar-header {

}
.nav-link {
    background-color: #D2D2D5;
    padding: 10px;
    margin: 10px;
}
.nav-link:hover {
    box-shadow: -6px 7px  4px 2px #0e1718;
    background: #c92d40;
    color: #0e1718;
}
#navbarBtns {
    justify-content: flex-end;
}
.active{
    box-shadow: -6px 7px  4px 2px #0e1718;
    background: #c92d40;
    color: #0e1718;
}
.main-intro {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #02002A;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
}
.intro {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    color: #e1a95f;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
}
.intro > h1,h2,h3 {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: #ADFF2F;
    padding: 5px;
}
#name {
    font-weight: bold;
    font-size: xxx-large;
    text-align: center;
}
#title {
    font-weight: bold;
    font-size: xx-large;
}
.contact-info {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.headshot {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 60%;
}
.img-fluid{
    object-fit: scale-down;
    border-radius: 80px;
}
.about-me {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("mehdibwcr.jpg");
    display: flex;
    padding: 80px 30px 80px 30px;
    justify-content: space-around;
    backdrop-filter: blur(10px);
}
.about-me-card {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #02002A;
    color: #ADFF2F;
    border-radius: 10px;
    padding: 40px;
}
.col {
    border-radius: 10px;
    margin: 15px 15px 15px 15px;
    padding: 25px;
    text-align: center;
    background-color: #02002A;
    color: #ADFF2F;
}
.col > i {
    margin: auto;
    margin-top: 20px;

}
.col > h2 {
    margin: auto;
    margin-top: 10px;
    font-weight: bolder;
}

.skills {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url("radial_pattern.jpeg");
}

#moreBtn {
    width: auto;
    margin: auto;
    background-color: #02002A;
    color: #ADFF2F;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.projects {
    background-repeat: round;
    background-attachment: fixed;
    background-size: contain;
    background-image: url("square_pattern.jpeg");
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: unset;
}
.projects > h2 {
    color: #02002A;
}
.nightly, .farmer-reg, .hackfest {

    width: 100vw;
    height: 100vh;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.skillsUsed {

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;

}
.skillsUsed > i {
    padding: 20px 20px;
    margin: 0 5px 0 5px;
    background-color: #02002A;
    border-radius: 5px;
}
.nightly-about {
    color: #02002A;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    overflow: auto;
    text-overflow: ellipsis;
}
.farmer-reg-about {
    color: #02002A;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    overflow: auto;
    text-overflow: ellipsis;
}
#farmerDemo {
}
.hackfest-about {
    color: #02002A;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    overflow: auto;
    text-overflow: ellipsis;
}
#hackfestDemo {
}
#nightlyDemo, #hackfestDemo, #farmerDemo {
    padding: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}
.carousel-inner, .carousel-indicators {
    margin-top: 0;
    border: 2px solid blue;
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid blue;

}
.row {
    border: 2px solid red;
}


