body {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    background-image: url("mehdibwcr.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: Courier New, Courier, monospace;
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
}
.main {
    font-family: Courier New, Courier, monospace;
    margin: -100px 0 0 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /*background-image: url("mehdibwcr.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    padding-top: 100px;

}
.main > div {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
}
.navbar {
    font-family: Courier New, Courier, monospace;
    margin-top: 0;
    box-shadow: 0 0 20px 1px #adff2f ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    backdrop-filter: blur(10px);

}
#name-title {
    color: #000000;
    text-shadow: 2px 2px 40px 3px #adff2f;
    font-weight: bold;
    font-size: xx-large;
}
#name-title:hover {
    color: #D2D2D5;
    text-shadow: -6px 7px  4px 2px #0e1718;
    font-weight: bold;
    font-size: xx-large;
}
.navbar-header {

}
.nav-link {
    background-color: #D2D2D5;
    padding: 10px;
    margin: 10px;
}
.nav-link:hover {
    box-shadow: -6px 7px  4px 2px #0e1718;
    background: #c92d40;
    color: #0e1718;
}
.active{
    box-shadow: -6px 7px  4px 2px #0e1718;
    background: #c92d40;
    color: #0e1718;
}
.main-intro {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #02002A;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
}
.intro {
    display: flex;
    flex-direction: column;
    color: #e1a95f;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
}
.intro > h1,h2,h3 {
    color: #ADFF2F;
    width: fit-content;
    margin: 0 0 5px 0;
    padding: 5px;
}
.intro > h1 {
    font-weight: bold;
    font-size: xxx-large;
}
.intro > h2 {
    font-weight: bold;
    font-size: xx-large;
}
.contact-info {
    margin-top: 150px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.headshot {
    width: 40%;
    height: 60%;
    object-fit: scale-down;
    border-radius: 950px;
    background-color: #691111;
    /*background-image: url("mehdisquare.jpg");*/
    background-size: cover;
    margin-top: auto;
    margin-bottom: auto;
}
.about-me {
    display: flex;
    padding: 80px 30px 80px 30px;
    justify-content: space-around;
}
.about-me-card {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #02002A;
    color: #ADFF2F;
    border-radius: 10px;
    padding: 40px;
}
.col {
    border-radius: 10px;
    margin: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;
    background-color: #02002A;
    width: 30vw;
}
.col > i {
    margin: auto;
    margin-top: 20px;

}
.col > h2 {
    margin: auto;
    margin-top: 10px;
    font-weight: bolder;

}
.skills {
}

.projects {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.projects > div {
    margin-top: 40px;
    background-color: #36413E;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}
.nightly-about {
    width: 55%;
}
.farmer-reg-about {
    width: 45%;
}
.hackfest {

}
